*´{
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: black;
}
body{
    background-color: blue;
    background-image: url("../img/Fondo\ Clash.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Title{
    font-family: 'Alfa Slab One', cursive;
    color: white;
    text-shadow: 5px 5px 5px black ;
    letter-spacing: 1px;
    word-spacing:1px;
    text-align: center;
}


